@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #10b981,
    #065f46
  ); /* Emerald-500 to Emerald-900 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
